---
import Card from "./Team/Card.astro";

const { title, text, persons } = Astro.props;
---

<div class="team">
  <div id="team" class="anchor"></div>
  <section class="indent-me">
    <h2>{title}</h2>

    <p set:html={text}></p>

    <div class="team-list">
      {
        persons.map((person) => (
          <Card
            name={person.name}
            title={person.title}
            text={person.text}
            availability={person.availability}
            email={person.email}
            phone={person.phone}
            reservation={person.reservation}
            portrait={person.portrait}
          />
        ))
      }
    </div>
  </section>
</div>
