---
import Arrival from "../../components/Sections/Arrival/Arrival.astro";
import Faq from "../../components/Sections/Faq/Faq.astro";
import Footer from "../../components/Footer/Footer.astro";
import Front from "../../layouts/Front.astro";
import Intro from "../../components/Sections/Intro.astro";
import JsonWebsite from "../../components/Schema/JsonWebsite.astro";
import JsonType from "../../components/Schema/JsonType.astro";
import JsonFaq from "../../components/Schema/JsonFaq.astro";
import Practice from "../../components/Sections/Practice/Practice.astro";
import Reservation from "../../components/Sections/Reservation.astro";
import Team from "../../components/Sections/Team/Team.astro";

import data from "../../data/de.json";

//import marked from 'marked'
//const html = marked('markdown string')
---

<Front
  title={data.meta.title}
  imprint={data.footer.imprint}
  dataprotection={data.footer.dataprotection}
  langselect={data.footer.langselect}
  byline={data.footer.byline}>
  <main>
    <Intro title={data.intro.title} text={data.intro.text} />
    <Team
      title={data.team.title}
      text={data.team.text}
      persons={data.team.persons}
    />
    <Practice
      title={data.practice.title}
      text={data.practice.text}
      images={data.practice.images}
    />
    <Reservation title={data.reservation.title} text={data.reservation.text} />
    <Arrival
      title={data.arrival.title}
      text={data.arrival.text}
      buttons={data.arrival.buttons}
      org={data.org}
    />
    <Faq
      title={data.faq.title}
      text={data.faq.text}
      questions={data.faq.questions}
    />
  </main>
  <Footer
    imprint={data.footer.imprint}
    dataprotection={data.footer.dataprotection}
    langselect={data.footer.langselect}
    byline={data.footer.byline}
  />
  <JsonWebsite />
  <JsonType />
  <JsonFaq />
</Front>
