---
import Dataprotection from "./Dataprotection.astro";
import Imprint from "./Imprint.astro";

const { imprint, dataprotection, langselect, byline, org } = Astro.props;
---

<footer>
  <section class="faq">
    <div class="indent-me">
      <div></div>

      <details id="footer-1">
        <summary>
          {imprint}
        </summary>
        <div>
          <Imprint org={org} />
        </div>
      </details>

      <details id="footer-2">
        <summary>
          {dataprotection}
        </summary>
        <div>
          <Dataprotection org={org} />
        </div>
      </details>

      <div class="langselect">
        {langselect}:

        <a href="/en" class="">English</a> |

        <a href="/de" class="selected">Deutsch</a>
      </div>

      <div class="byline" set:html={byline}></div>
    </div>
  </section>
</footer>
