---
//import { dataset_dev } from "svelte/internal";
import Header from "../components/Header/Header.astro";
import Facebook from "../components/Meta/Facebook.astro";
import Favicons from "../components/Meta/Favicons.astro";
import Geo from "../components/Meta/Geo.astro";
import Linkrel from "../components/Meta/Linkrel.astro";
import Metas from "../components/Meta/Metas.astro";
import Preconnect from "../components/Meta/Preconnect.astro";
import Twitter from "../components/Meta/Twitter.astro";
import data from "../data/de.json";

//import * as CONFIG from "../config";
//import { getLanguageFromURL } from "../languages";

import "../styles/custom.scss";

const { nav, notFound } = Astro.props;
---

<!DOCTYPE html>
<html lang="de-CH">
  <head>
    <Metas org={data.org} />
    <Preconnect />
    <Linkrel org={data.org} />
    <title>{data.org.name}</title>
    <Geo org={data.org} />
    <Facebook org={data.org} />
    <Twitter org={data.org} />
    <Favicons org={data.org} />
  </head>
  <body>
    <Header notFound={notFound} nav={nav} />
    <slot />
  </body>
</html>
