---
import { Picture } from "@astrojs/image/components";
import Reservation from "./Reservation.astro";
import Availability from "./Availability.astro";
import Email from "./Email.astro";
import Phone from "./Phone.astro";

const {
  name,
  title,
  text,
  availability,
  mailto,
  phone,
  reservation,
  reservationtxt,
  portrait,
} = Astro.props;

let imgPath = "src/assets/" + portrait;
---

<section class="card">
  <div class="name">
    <h3>{name}</h3>
    <h4>{title}</h4>
  </div>

  <div class="portrait">
    <Picture
      src={imgPath}
      widths={[211, 230, 262, 311, 380, 422, 438, 460, 524, 622, 760, 876]}
      aspectRatio="1:1"
      sizes="(max-width: 280px) 262px, (max-width: 320px) 262px, (max-width: 360px) 262px, (max-width: 566px) 438px, (max-width: 767px) 311px, (max-width: 3600px) 262px, 876px"
      formats={["avif", "webp", "jpeg"]}
      alt={"Portrait " + name}
    />
  </div>

  <div class="desc">
    <p set:html={text}></p>
  </div>

  {availability ? <Availability availability={availability} /> : ""}
  {phone ? <Phone phone={phone} /> : ""}
  {mailto ? <Email mailto={mailto} /> : ""}
  {reservation ? <Reservation btnTxt={reservationtxt} /> : ""}
</section>
